:root {
    --colorbg1: #000584;
    --colorbg2: #0A0172;
    --colorkey: #4c52fc;
    --colorkeyboard: #212121;
    --colorkeyhold: #1a1a1a;
    --colormousepadborder: rgb(46, 46, 46);
    --colortext: #ffffff;
}

body {
    margin: 0;
    overflow: hidden;
    background: var(--colorbg1);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6, textarea, button, input {
    font-family: "Tilt Neon", sans-serif;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    box-shadow: inset 0 0 0 3px white;
    overflow: hidden;
}

.switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: transparent;
    transition: 0.4s;
    box-shadow: inset 0 0 0 3px white;
    border-left: 0px solid white;
    
}

.switch input:checked + .slider {
    border-left: 30px solid white;
}


.bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -9999;
}

.bg-blur {
    position: absolute;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.bg-stripe {
    background: var(--colorbg2);
    width: 200%;
    height: 50px;
    transform: rotate(-45deg) translateX(-25%);
    margin-bottom: 100px;
}

.bg-moving {
    animation: bg-anim 2s infinite linear;
    position: absolute;
    top: -400px;
    width: 100%;
    height: 100vh;
}

.bg-fade-top {
    background: linear-gradient(0deg, transparent 0%, var(--colorbg2) 100%);
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
}

.bg-fade-bottom {
    background: linear-gradient(180deg, transparent 0%, var(--colorbg2) 100%);
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: 0;
}

.login {
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.logo-img {
    max-width: 70%;
}

.password-input {
    height: 10%;
}

.password-wrapper {
    position: relative;
    display: inline-block;
    width: 40%;
}

.password-wrapper::before {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    content: "";
    background: linear-gradient(90deg, white, transparent);
    width: 140%;
    height: 3px;
}

#access-password-login-input {
    width: 100%;
    height: 25px;
    background: transparent;
    border: none;
    font-size: x-large;
    color: var(--colortext);
}

#access-password-login-input:focus {
    outline: none;
}

.show-password-btn {
    background: transparent;
    border: none;
    width: 14%;
    height: auto;
}

.show-password-btn img {
    max-width: 100%;
}

.connect-btn {
    background-color: transparent;
    border: 5px solid var(--colortext);
    border-top: none;
    border-right: none;
    border-radius: 50px;
    height: 60px;
    width: 150px;
    color: var(--colortext);
    font-size: larger;
    margin-top: 25px;
    transition: border 0.1s;
}

.login-error {
    color: white;
    font-size: larger;
}

.control {
    display: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    background-color: black;
    color: white;
}

.video-img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.video-disabled {
    z-index: 1;
}

.keyboard {
    position: absolute;
    bottom: -260px;
    height: 260px;
    width: 100%;
    background-color: var(--colorkeyboard);
    transition: bottom 0.3s;
}

.keyboard-letters {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.keyboard-row {
    width: 100%;
}

.key {
    width: calc(100%/10);
    height: 52px;
    color: white;
    font-family: "Tilt Neon", sans-serif;
    font-size: x-large;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    -webkit-touch-callout: none; 
    border-radius: 5px;
}

.key img {
    max-width: 50%;
}

.key-aftertap {
    position: absolute;
    width: calc(100%/10);
    transform: translateY(-25%);
    height: 104px;
    background-color: var(--colorkey);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    font-size: x-large;
    z-index: 11;
}

.key-alternate-selector {
    width: 80%;
    height: 93%;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}


.special-key-wide {
    width: calc(100%/6.7);
    color: var(--colorbg1);
    font-size: x-large;
}

.special-key-thin {
    color: var(--colorbg1);
    font-size: large;
}

.space-key {
    width: calc(100%/2);
}

.space-key img {
    max-width: 20%;
}

.keyboard-numbers {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.keyboard-symbols {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}


.mousepad {
    position: absolute;
    bottom: 0;
    height: 260px;
    width: 100%;
    background-color: var(--colorkeyboard);
}

.mousepad-border {
    width: 90%;
    height: 80%;
    border: 5px solid var(--colormousepadborder);
    border-radius: 20px;
    color: var(--colormousepadborder);
    font-size: x-large;
    font-family: "Tilt Neon", sans-serif;
    user-select: none;
}

.power-button, .power-close-button {
    position: absolute;
    bottom: 265px;
    left: 50%;
    width: 20%;
    height: 70px;
    transition: bottom 0.3s;
    transform: translateX(-50%);
}

.power-close-button {
    bottom: 190px;
}

.power-button img, .power-close-button img {
    max-width: 70%;
    max-height: 80%;
}

.power-menu-wrapper {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0%;
    transition: bottom 0.3s;
}

.power-menu {
    height: 100%;
    width: 60%;
    border: 2px solid white;
    border-radius: 20px;
    justify-content: space-evenly;
}

#power-button {
    width: 10vh;
    height: 10vh;
    border: 5px solid var(--colortext);
    border-top: none;
    border-right: none;
    border-radius: 50%;
    transition: border 0.1s;
}

#power-button img {
    max-width: 70%;
    max-height: 70%;
}

.keyboard-to-mousepad-switch, .mousepad-to-keyboard-switch {
    position: absolute;
    bottom: 265px;
    right: 0px;
    width: 20%;
    height: 70px;
    transition: bottom 0.3s;
}

.keyboard-to-mousepad-switch {
    bottom: 190px;
}

.keyboard-to-mousepad-switch img, .mousepad-to-keyboard-switch img {
    max-width: 70%;
    max-height: 80%;
}

.settings-button {
    position: absolute;
    bottom: 270px;
    left: 0;
    width: 20%;
    transition: bottom 0.5s, left 0.5s, transform 0.5s;
    z-index: 10;
}

.settings-button img {
    max-width: 80%;
    transition: transform 0.5s;
}

.settings-blur {
    position: absolute;
    display: none;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(0px);
    transition: backdrop-filter 0.5s;
    z-index: 1;
}

.settings {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -100%;
    transition: left 0.5s;
    z-index: 2;
}

.settings-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 10%;
}

.settings-close-btn img {
    max-width: 100%;
}

.settings-navbar {
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.settings-tab-btn, .settings-tab-placeholder {
    width: 100%;
    height: 9%;
    transition: background-color 0.5s;
}

.settings-tab-btn img {
    max-width: 60%;
    max-height: 60%;
}

.settings-tabs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.settings-tab {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: left 0.5s;
    color: var(--colortext);
    z-index: -1;
}

.settings-tab ul {
    margin-left: 17%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 90%;
    margin-bottom: 10px;
}

.setting p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.setting input[type="color"] {
    width: 55px;
    height: 25px;
    border: none;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
}

.setting input[type="range"] {
    appearance: none;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    width: 100%;
}

.setting input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}

.setting select {
    width: 40%;
    font-family: "Tilt Neon", sans-serif;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.setting select:focus {
    outline: none;
}

.local-settings-buttons {
    justify-content: space-evenly;
    margin-left: 20%;
}

.local-settings-buttons button {
    width: 25%;
    height: 30px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
}

.mouse-sensitivity-wrapper {
    flex-direction: column;
    align-items: start;
}


@keyframes bg-anim {
    0% {
        top: -400px;
    }

    100% {
        top: -550px;
    }
}
